.chat-gutter {
  padding: 6px;
}

.chat-button {
  cursor: pointer;
}

.chat-rounded {
  border-radius: 6px;
}

.chat-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-unstyled-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chat__container * {
  box-sizing: border-box;
}

.chat__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 375px;
  height: 500px;
  font-size: 13px;
  line-height: 1.125;
  background-color: #fff;
  border: 1px solid #ccc;
}

.chat__container .chat__loading {
  visibility: hidden;
  opacity: 0;
}

.chat__container.is-loading .chat__loading {
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px);
}

.chat__messages-container {
  flex: auto;
  overflow-y: auto;
  padding-bottom: 58px; /* 채팅 메세지 입력폼 높이 */
}

.chat__message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
}

.chat__message-user {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 72px;
  justify-content: space-between;
}

.chat__message-user__icon {
  width: 20px;
  height: auto;
}

.chat__message-user__name {
  width: 52px;
  color: #000;
}

.chat__message-user__icon + .chat__message-user__name {
  padding-left: 6px;
}

.chat__message-text {
  opacity: 0.8;
}

.chat__message-user + .chat__message-text {
  margin-left: 4px;
}

.chat__message--message {
  padding: 0;
  justify-content: flex-start;
}

.chat__message--notification {
  background-color: #eee;
}

.chat__message--sign-in {
  background-color: #d7ebee;
}

.chat__message--alert {
  background-color: #ffe8e8;
}

.chat__message + .chat__message {
  margin-top: 10px;
}

.chat__message--notification + .chat__message--notification {
  margin-top: 4px;
}

.chat__form-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 52px;
  background-color: rgba(247, 247, 247, 0.7);
  backdrop-filter: blur(4px);
}

.chat__form {
  display: flex;
}

.chat__form-input {
  flex: auto;
  padding: 6px 8px;
  color: currentColor;
  line-height: 1;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.chat__form-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 5%);
}

.chat__form-submit {
  flex-shrink: 0;
  display: flex;
  width: 48px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  color: #fff;
  background-color: #000;
}

.chat__form-input + .chat__form-submit {
  margin-left: 4px;
}
